#main
{
    height:455px;
    background-color:white;
    margin-top:70px;
    
}
.output
{
    background-color: white;
    box-shadow: 0px 1px 1px #000;
    height: 250px;
    margin-bottom: 20px;
    overflow: scroll;
}
u1
{
    list-style: none;
}
input[type=submit]
{
    width:100px;
    box-sizing: border-box;
    border:4px solid #e84118;
    border-radius:4px;
}
textarea
{
    background-color:white;
    width: 300px;
}
body
{
    
      background-image: url('alan-walker-5k-a2.jpg');
}

